<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BloggingDatabase"
			 connectionString="Server=localhost;Database=VulHierJeDbIn;user=Root;password=;" />
	</connectionStrings>
</configuration>
